---
const {
    link = "",
    title = "",
    info = [],
} = Astro.props;
---

<div class="border-2 border-black rounded-xl p-10 h-fit">
    <a href={link} class="font-bold text-l text-left inline-block align-middle">{title}</a>
    <br>
    <span>{info}</span>
</div>