---
import Page from "~/components/common/Page.astro";
import Carousel from "~/components/ui/Carousel.astro";
const imagesData = [
  {
    src: "/images/JEA Consulting Presentation.png",
    alt: "JEA Consulting Presentation",
  },
  {
    src: "/images/First AIS Consulting Final Presentation Photoshoot.avif",
    alt: "First AIS Consulting Final Presentation Photoshoot",
  },
  {
    src: "/images/Second AIS Consulting Final Presentation Photoshoot.avif",
    alt: "Second AIS Consulting Final Presentation Photoshoot",
  },
];
---

<Page title="About Me">
  <section id="about">
    <div class="ml-3">
      <Carousel imagesData={imagesData} />
      <p>
        I've graduated with <strong>
          a Master's degree in Information Systems
        </strong> from the Warrington School of Business over at the University of
        Florida
      </p>
      <br />
      <p>
        Before starting this program, I had the opportunity to work on some
        really cool <strong> software testing and development </strong> projects
        for companies <br /> in Singapore.
      </p>
      <br />
      <p>
        As a Quality Assurance Engineer at Shopee, I <strong>
          developed test suites
        </strong> for the Promotion modules within the Android App. At Visa, I <strong
        >
          developed <br /> the Visa Payment APIs
        </strong> used by <strong> major banks in South Asia</strong> to transition
        to an accounts-based payment model. I also <strong>
          built the frontend
        </strong> for <br /> an Admin Portal that was used to manipulate data sent
        to mobile apps.
      </p>
      <br />
      <p>
        My goal is to use all the technical skills I've gained from my
        professional and academic experience to <strong>
          provide insights by analyzing data <br />
        </strong> that aids decision making in business environments.
      </p>
      <br />
    </div>
  </section>
</Page>
