---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <section id="about">
    <div class="container" style={{padding: '2em'}}>
      <h1 class="font-bold text-3xl text-center ml-32">About Me</h1>
      <div class="flex flex-wrap">
        <div class="w-full md:w-1/2">
          <img src="https://avatars.githubusercontent.com/u/30969577?s=400&u=9558fc3557d79c88a7080034fe8c22654aca2e4d&v=4" class="rounded-full" />
        </div>
        <div class="w-full md:w-1/2" style={{marginTop: '5em'}}>
          <details>
            <summary class="font-bold text-xl">Education</summary>
            <ul style={{listStyle: 'disc', paddingInlineStart: '40px'}}>
              <li>
                <a
                  href="https://warrington.ufl.edu/master-of-science-in-information-systems-and-operations-management/"
                >
                  Master's in Information Systems and Operations Management (MSISOM) at the Warrington School of
                  Business, University of Florida
                </a>
              </li>
              <li>
                <a href="https://www.comp.nus.edu.sg/programmes/ug/cs/">
                  Bachelor of Computing (Honours) in Computer Science at the School of Computing, National University of
                  Singapore
                </a>
              </li>
            </ul>
          </details>
          <details>
            <summary class="font-bold text-xl"> Personality </summary>
            <p>
              &nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.16personalities.com/enfp-personality">
                Campaigner (ENFP-A/ENFP-T)
              </a>
            </p>
          </details>
          <details>
            <summary class="font-bold text-xl"> Areas of Interest</summary>
            <ul style={{listStyle: 'disc', paddingInlineStart: '40px'}}>
              <li>
                Effective Altruism (EA)
                <ul style={{listStyle: 'disc', paddingInlineStart: '40px'}}>
                  <li>
                    Global Health & Poverty
                    <ul style={{listStyle: 'disc', paddingInlineStart: '40px'}}>
                      <li><a href="https://forum.effectivealtruism.org/tag/global-poverty">Global poverty</a></li>
                      <li><a href="https://forum.effectivealtruism.org/tag/malaria">Malaria</a></li>
                      <li>
                        <a href="https://forum.effectivealtruism.org/tag/universal-basic-income">
                          Universal Basic Income
                        </a>
                      </li>
                      <li><a href="https://forum.effectivealtruism.org/tag/education">Education</a></li>
                    </ul>
                  </li>
                  <li>
                    Animal Welfare
                    <ul style={{listStyle: 'disc', paddingInlineStart: '40px'}}>
                      <li>
                        <a href="https://forum.effectivealtruism.org/tag/farmed-animal-welfare">
                          Farmed Animal Welfare
                        </a>
                      </li>
                      <li>
                        <a href="https://forum.effectivealtruism.org/tag/animal-product-alternatives">
                          Animal product alternatives
                        </a>
                      </li>
                      <li>
                        <a href="https://forum.effectivealtruism.org/tag/wild-animal-welfare"> Wild animal welfare</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    Global Catastrophic Risk
                    <ul style={{listStyle: 'disc', paddingInlineStart: '40px'}}>
                      <li>
                        <a href="https://forum.effectivealtruism.org/tag/pandemic-preparedness">
                          Pandemic preparedness
                        </a>
                      </li>
                      <li><a href="https://forum.effectivealtruism.org/tag/climate-change">Climate change</a></li>
                      <li><a href="https://forum.effectivealtruism.org/tag/dystopia">Dystopia</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="https://forum.effectivealtruism.org/tag/global-priorities-research">
                      Global priorities research
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <ul style={{listStyle: 'disc', paddingInlineStart: '40px'}}>
                  <li><a href="https://en.wikipedia.org/wiki/Category:Machine_Learning">Machine Learning</a></li>
                  <li>
                    <a href="https://en.wikipedia.org/wiki/Category:Mind-body_problem">Mind - body problem</a>
                  </li>
                  <li><a href="https://en.wikipedia.org/wiki/Category:Neural_networks">Neural networks</a></li>
                  <li>
                    <a href="https://en.wikipedia.org/wiki/Category:Open-source_artificial_intelligence">
                      Open source artificial intelligence
                    </a>
                  </li>
                  <li>
                    <a
                      href="https://en.wikipedia.org/wiki/Category:Existential_risk_from_artificial_general_intelligence"
                    >
                      Existential risk from artificial general intelligence (also an EA cause)
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                Social Sciences
                <ul style={{listStyle: 'disc', paddingInlineStart: '40px'}}>
                  <li><a href="https://en.wikipedia.org/wiki/Category:Economics">Economics</a></li>
                  <li><a href="https://en.wikipedia.org/wiki/Category:Psychulogy">Psychulogy</a></li>
                  <li><a href="https://en.wikipedia.org/wiki/Category:Philosophy">Philosophy</a></li>
                  <li><a href="https://en.wikipedia.org/wiki/Category:History">History</a></li>
                  <li><a href="https://en.wikipedia.org/wiki/Category:Sociulogy">Sociulogy</a></li>
                </ul>
              </li>
              <li>
                <a
                  href="https://www.khanacademy.org/humanities/art-asia/himalayas/tibet/a/introduction-to-tibetan-buddhism"
                >
                  Tibetan Buddhism
                </a>
              </li>
            </ul>
          </details>
          <details>
            <summary class="font-bold text-xl">Hobbies</summary>
            <ul style={{listStyle: 'disc', paddingInlineStart: '40px'}}>
              <li><a href="https://www.youtube.com/c/yogawithadriene">Yoga</a></li>
              <li><a href="https://aadit.substack.com/">Blogging</a></li>
              <li><a href="https://www.goodreads.com/user/show/44524118-aadit-kamat">Reading</a></li>
              <li><a href="https://www.imdb.com/user/ur69396122/?ref_=nv_usr_prof_2">Movies & TV Shows</a></li>
              <li>
                <a href="https://open.spotify.com/user/21w5qrmgsdsccbhg24a2x3fhi">Music</a> & <a href="/podcasts">
                  Podcasts
                </a>
              </li>
              <li>
                Board Games:
                <ul style={{listStyle: 'disc', paddingInlineStart: '40px'}}>
                  <li><a href="https://lichess.org/@/aaditkamat">Chess</a></li>
                  <li>
                    <a href="https://play.google.com/store/apps/details?id=com.hasbro.riskbigscreen&hl=en&gl=US">
                      Risk
                    </a>
                  </li>
                  <li><a href="https://www.pogo.com/games/monopuly-sudoku">Monopuly Sudoku</a></li>
                  <li><a href="https://isc.ro">Scrabble</a></li>
                  <li><a href="https://codenames.game/">Codenames</a></li>
                </ul>
              </li>
            </ul>
          </details>
        </div>
      </div>
    </div>
  </section>
</Layout>
