---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Page>
  <section id="about">
    <div class="ml-3 mt-16">
      <div class="flex">
        <div>
          <img
            src="https://avatars.githubusercontent.com/u/30969577?s=400&u=9558fc3557d79c88a7080034fe8c22654aca2e4d&v=4"
            class="rounded"
          />
        </div>
        <div class="ml-8">
          <p> I'm currently <strong> pursuing a Master's degree </strong> at the Warrington School of Business over at the University of Florida and I'll be graduating at the <strong> end of the year! </strong> </p> <br>

          <p> Before starting this program, I had the opportunity to work on some really cool <strong> software testing and development </strong> projects, both <strong> front-end and back-end.</strong> </p> <br>

          <p> For instance, I <strong> developed test suites </strong> for the Promotion modules within the Android App while working as a Quality Assurance Engineer at Shopee. </p> <br>

          <p> At Visa, I <strong> developed the Visa Payment APIs </strong> used by <strong> major banks in South Asia </strong> to transition to an accounts-based payment model. </p> <br>
          
          <p> Additionally, I also <strong> built the frontend </strong> for an Admin Portal that was used to manipulate data sent to mobile apps. </p> <br>

          <p> My goal is to use all the <strong> technical skills </strong> I've gained from my professional and academic experience, as well as <strong> knowledge gained </strong> from projects and classes at the Warrington School of Business, to <strong> analyze data and provide insights </strong> that aid decision making in business environments. </p> <br>
        </div>
    </div>
  </section>
</Page>
