---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Headline from '~/components/blog/Headline.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <img
      src="https://avatars.githubusercontent.com/u/30969577?s=400&u=9558fc3557d79c88a7080034fe8c22654aca2e4d&v=4"
      alt="GitHub profile picture"
      style={{
        borderRadius: '200%',
        margin: '0 auto',
        maxWidth: '200px',
      }}
    />
    <br />
    <Headline title="Hello, World! This is Aadit." subtitle="Welcome to my ðŸ   on the internet." />
    <div class="container" style="margin-left: 11em;">
      <iframe
        src="https://aadit.substack.com/embed"
        width="480"
        height="320"
        style="border:1px solid #EEE; background:white; margin: '0 auto';"
      >
      </iframe>
    </div>
  </section>
</Layout>
