---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
    <div class="row mt-16 mb-16">  
        <iframe 
            style="border-radius:12px; margin: 0 0 0 8.5em;" 
            alt="Work Life With Adam Grant"
            src="https://open.spotify.com/embed/show/4eylg9GZJOVvUhTynt4jjA?utm_source=generator" 
            width="1530" 
            height="232" 
            frameBorder="0" 
            allowfullscreen="" 
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        <br>
        <iframe 
            style="border-radius:12px; margin: 0 0 0 8.5em;"  
            alt="Deep Questions With Cal Newport"
            src="https://open.spotify.com/embed/show/0e9lFr3AdJByoBpM6tAbxD?utm_source=generator" 
            width="1530" 
            height="232" 
            frameBorder="0" 
            allowfullscreen="" 
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
            loading="lazy"></iframe>
        <br>
        <iframe 
            style="border-radius:12px; margin: 0 0 0 8.5em;" 
            alt="No Stupid Questions"
            src="https://open.spotify.com/embed/show/6Z49m4VQ4TfQ28Cnl42yiT?utm_source=generator" 
            width="1530" 
            height="232" 
            frameBorder="0" 
            allowfullscreen="" 
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        <br>
        <iframe 
            style="border-radius:12px; margin: 0 0 0 8.5em;" 
            alt="The Ranveer Show" 
            src="https://open.spotify.com/embed/show/6ZcvVBPQ2ToLXEWVbaw59P?utm_source=generator" 
            width="1530"  
            height="232" 
            frameBorder="0" 
            allowfullscreen="" 
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
        </iframe>
        <br>
        <iframe 
            style="border-radius:12px; margin: 0 0 0 8.5em;" 
            alt="Being Well with Dr Rick Hanson and Forrest Hanson"
            src="https://open.spotify.com/embed/show/5d87ZU1XY0fpdYNSEwXLVQ?utm_source=generator" 
            width="1530"  
            height="232" 
            frameBorder="0" 
            allowfullscreen="" 
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        <br>
        <iframe 
            style="border-radius:12px; margin: 0 0 0 8.5em;" 
            alt="Skeptic's Path to Enlightenment" 
            src="https://open.spotify.com/embed/show/2LZPT1To5ziuPPbEVDtVhZ?utm_source=generator" 
            width="1530" 
            height="232" 
            frameBorder="0" 
            allowfullscreen="" 
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
        </iframe>
    </div>
</Layout>

<br><br>
