---
import SoftwareEngineeringProject from '~/components/SoftwareEngineeringProject.astro';
import ConsultingOrAnalyticsProject from '~/components/ConsultingOrAnalyticsProject.astro';
import { projectsData } from '~/data';
import Page from '~/components/Page.astro';
---

<Page>
  <div class="ml-3">
    <details>
      <summary> <strong>Analytics</strong></summary>
      <br />
      {
        projectsData
          .filter((project) => project.category === 'analytics')
          .map((project) => {
            return (
              <>
                <ConsultingOrAnalyticsProject {...project} />
                <>
                  <br />
                  <br />
                </>
              </>
            );
          })
      }
    </details>
    <br />
    <details>
      <summary> <strong>Consulting</strong></summary>
      <br />
      {
        projectsData
          .filter((project) => project.category === 'consulting')
          .map((project) => {
            return (
              <>
                <ConsultingOrAnalyticsProject {...project} />
                <>
                  <br />
                  <br />
                </>
              </>
            );
          })
      }
    </details>
    <br />
    <details>
      <summary> <strong>Software Engineering</strong></summary>
      <br />
      {
        projectsData
          .filter((project) => project.category === 'software-engineering')
          .map((project) => {
            return (
              <>
                <SoftwareEngineeringProject {...project} />
                <>
                  <br />
                  <br />
                </>
              </>
            );
          })
      }
    </details>
</div>
</Page>

<br />
<br />
