---
import { SITE } from '~/config.mjs';
import Page from '~/components/Page.astro';
import Layout from '~/layouts/PageLayout.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Page>
    <div class="ml-3 mt-16"> 
    I was checking out <a href="https://www.alfredworkflows.store/workflows/unsplash">an Alfred Unsplash workflow</a>. One thing led to another, and I came upon the <a href="https://www.adamdehaven.com/uses/">section on the author's website</a> which lists the tools he uses for development. I've been meaning to do the same for a while now, but I wasn't sure where I would put it. His page gave me just the kind of inspiration I needed to do so.

    Here's my list of my development tools. These may change from time to time, but at least some of them will come in handy for the long haul.

    <br><br>

    <h2 class="font-bold text-2xl text-left mb-4">Hardware</h2>

    <hr>
    <br>

    <ul class="ml-10"style="list-style: disc;">
    <li>Personal Laptop: <a href="https://www.apple.com/sg/macbook-pro-13/">Macbook Pro 13-inch</a></li>
    <li><a href="https://www.apple.com/shop/product/MK2E3AM/A/magic-mouse-white-multi-touch-surface">Apple Magic Mouse</a></li>
    </ul>

    <br>

    <h2 class="font-bold text-2xl text-left  mb-4"> Code Editor </h2>

    <hr>
    <br>

    <ul class="ml-10"style="list-style: disc;">
      <li><a href="https://github.com/features/codespaces">GitHub Codespaces</a></li>
      <li><a href="https://github.com/features/codespaces">Visual Studio Code</a></li>
      <li><a href="https://www.cursor.com/">Cursor</a></li>
      <li><a href="https://zed.dev/">Zed</a></li>
    </ul>

    <br>

    <h2 class="font-bold text-2xl text-left  mb-4"> Extensions </h2>

    <hr>
    <br>

    <p class="text-left"> Here are some of my favourite extensions: </p>

    <br>

    <ul class="ml-10"style="list-style: disc;">
            <li><a href="https://wakatime.com/">Wakatime</a>: I use this to track my time spent on coding</li>
            <li><a href="https://www.gitkraken.com/gitlens">GitLens</a>: I use this to get more out of Git, such as viewing Git blame annotations</li>
            <li><a href="https://www.tabnine.com/install/vscode">Tabnine AI Autocompletion</a> and <a href="https://copilot.github.com/">GitHub Copilot</a>: I use these for code auto completion</li>
    </ul>

    <br>

    <h2 class="font-bold text-2xl text-left mb-4"> Terminal </h2>

    <hr>
    <br>

    <ul class="ml-10"style="list-style: disc;">
    <li>Integrated Terminal in Visual Studio Code</li>
    <li><a href="https://warp.dev/">Warp</a>: A Rust-based Terminal for Mac and Linux system that integrates AI features to make working with CLIs a pleasant experience</li>
    </ul>

    <br>

    <h2 class="font-bold text-2xl text-left mb-4"> Audio </h2>

    <hr>
    <br>

    <ul class="ml-10"style="list-style: disc;">
    <li><a href="https://music.amazon.com/">Amazon Music</a></li>
    <li><a href="https://www.bose.com/p/bose-quietcomfort-earbuds-ii/QCEARBII-HEADPHONEIN.html">Bose QuietComfort Earbuds II </a> for personal use</li>
    </ul>

    <br />

    <h2 class="font-bold text-2xl text-left mb-4"> Other Software & Services </h2>

    <hr>
    <br>

    <ul class="ml-10"style="list-style: disc;">
    <li><a href="https://brew.sh">Homebrew</a>: A one-stop shop for installing third-party Mac apps</li>
    <li><a href="https://nordpass.com/">NordPass</a> as a password manager</li>
    <li><a href="https://poe.com/">Poe</a> and <a href="https://labs.perplexity.ai/">Perplexity Labs</a> for interacting with different LLMs (Large Language Model)</li>
    </ul>

    <br>

    <h2 class="font-bold text-2xl text-left mb-4"> Everyday Carry </h2>

    <hr>
    <br>

    <ul class="ml-10"style="list-style: disc;">
    <li><a href="https://www.apple.com/shop/buy-iphone/iphone-13">iPhone 13</a>
    <li><a href="https://www.apple.com/lae/apple-watch-series-6/">Apple Watch Series 6</a>
    <li><a href="https://thewalletshop.com/product/crossing-modish-bi-fold-leather-wallet-with-flap-and-coin-pouch-rfid-black-teal/">Black Teal coloured Crossing Modish Bi Fold Leather Wallet with Flap and Coin Pouch (RFID Protected)</a>
    </ul>
</Page>
