---
const {
    link = "",
    title = "",
    info = [],
} = Astro.props;
---

<div class="border border-zinc-200 rounded-xl p-10" style={{width: '1200px'}}>
    <a href={link} class="font-bold text-l text-left inline-block align-middle">{title}</span>
    <br>
    <span>{info}</span>
</div>
