---
import Icon from 'astro-icon';

const {
    link = "",
    title = "",
    info = [],
} = Astro.props;
---

<div class="border border-zinc-200 rounded-xl p-10" style={{width: '1200px'}}>
    <Icon name="mdi:github" size="2em" xlink:href={link} class="inline-block align-middle" /> <span class="font-bold text-l text-left inline-block align-middle"> {title}</span>

    <ul class="ml-10"style="list-style: disc;">
        {
            info && info.map && info.map((item, index) => {
                return <li key={index}>{item}</li>
            })
        }
    </ul>
</div>