---
const {
    link = "",
    title = "",
    info = [],
} = Astro.props;
---

<div class="border border-zinc-200 rounded-xl p-10" style={{width: '1200px'}}>
    <i class="fab fa-github fa-lg inline-block align-middle" /> <a href={link} class="font-bold text-l text-left inline-block align-middle">{title}</span>

    <ul class="ml-10"style="list-style: disc;">
        {
            info && info.map && info.map((item, index) => {
                return <li key={index}>{item}</li>
            })
        }
    </ul>
</div>
