---
interface TimelineItem {
  timePeriod: string;
  title: string;
  description: string[];
  type: 'education' | 'experience';
}

interface Props {
  items: TimelineItem[];
}

const { items } = Astro.props;
---

<div class="timeline">
  {items.map((item) => (
    <div class=`timeline-item ${item.type}`>
      <div class="timeline-dot"></div>
      <div class="timeline-content">
        <h3 class="timeline-title">
          {item.title}
        </h3>
        <i class="timeline-weight">{item.timePeriod}</i>
        <p class="timeline-description">{
          item.description.map((info) => (<p>{info}</p>))
        }</p>
      </div>
    </div>
  ))}
</div>
